<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/screen.css">
</head>
<body>

  <script type="text/template" id="ota-data-template">
    <form role="form" class="demo-form">
      <div class="form-group">
        <label for="brand">Brand</label>
        <input type="text" class="form-control" name="brand" id="brand" value="<%= brand %>">
      </div>
      <div class="form-group">
        <label for="model">Model</label>
        <input type="text" class="form-control" name="model" id="model" value="<%= model %>">
      </div>
      <div class="form-group">
        <label for="type">Optical Type</label>
        <select name="type" id="type" class="form-control">
          <% var type = type %>
          <% for (var i = 0; i < otaTypes.length; i++) { %>
            <option<% type === otaTypes[i] ? print(' selected="selected"') : '' %>><%= otaTypes[i] %></option>
          <% } %>
        </select>
      </div>
      <div class="form-group">
        <label for="aperture">Aperture</label>
        <input type="text" class="form-control" name="aperture" id="aperture" value="<%= aperture %>">
      </div>
      <div class="form-group">
        <label for="focalLength">Focal Length</label>
        <input type="text" class="form-control" name="focalLength" id="focal-length" value="<%= focalLength %>">
      </div>
      <div class="form-group">
        <label for="focalRatio">Focal Ratio</label>
        <input type="text" class="form-control" name="focalRatio" id="focal-ratio" value="<%= focalRatio %>">
      </div>
      <div class="form-group">
        <label for="secondaryMirror">Secondary Mirror Obstruction</label>
        <input type="text" class="form-control" name="secondaryMirror" id="secondary-mirror" value="<%= secondaryMirror %>">
      </div>
      <div class="form-group">
        <label for="weight">Weight</label>
        <input type="text" class="form-control" name="weight" id="weight" value="<%= weight %>">
      </div>
    </form>
  </script>

  <div class="content">
    <div class="row"
      <div id="ota-data">
      </div>
    </div>
  </div>

  <script src="js/jquery-1.10.2.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/backbone-min.js"></script>
  <script src="js/site.js"></script>
</body>
</html>
